<h1 class="about_heading">About</h1>
<h4> Blog website employing HTML, CSS and JavaScript  for users to
    create their own blog and while the back-end utilizes Express.js for
    server-side operations, EJS for templating, and MongoDB with
    Mongoose for secure and efficient data storage and authentication.</h4>
<h4>Made by Bhupesh Kumar Gwal</h4>
<h4>Web Developer and ECE Undergrad</h4>
<h4>Contact: yeshgwal2002@gmail.com</h4>   